


tr {
  border: 1px solid black;
  padding: 20px 10px 20px 0;
  grid-template-columns: repeat(4, 1fr) 2fr;
  margin-top: 10px;
  td {
    &.color {
      span {
        padding: 4px;
      }
    }
    table {
      border: 1px solid black;
      tr {
        grid-template-columns: repeat(2, 1fr);
        border: unset;
        padding: 0 0 5px;
      }
    }
  }
}
